@font-face {
	font-family: Bebas_Neue;
	src: url(./fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

@font-face {
	font-family: Lato;
	src: url(./fonts/Lato/Lato-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Lato, sans-serif;
}

header {
  background-color: #EDEDED;
}

.container {
  padding: 20px 10px;
  width: 1300px;
  margin: auto;
}

.flex-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-left {
  align-items: center;
}

.nav-left, .nav-right {
  list-style-type: none;
  align-items: center;
}

.nav-left li:last-child {
  margin-right: 0;
}

.nav-left a, .nav-right a {
  text-decoration: none;
  color: #666;
}

.nav-left a:hover {
  color: #ffa500;
}

.btn {
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
}

.btn:hover {
  background-color: #038982;
  color: #fff;
}

#hamburger {
  display: none;
}

#myLinks {
  display: none;
  width: 100%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 16px;
}

.business-consultant {
  background-color: #EDEDED;
}

.left-section {
  width: 50%;
}

.label {
  color: #008080;
  font-weight: bold;
}

.business-consultant .label::before {
  content: '';
  display: inline-block;
  width: 54px; 
  height: 4px; 
  background-color: #ffcc00;
  margin-right: 20px;
  vertical-align: middle;
}

.text-section h1 {
  font-size: 84px;
  color: #333;
  font-weight: 500;
  font-family: Bebas_Neue, sans-serif;
  padding-top: 20px;
}

.text-section p {
  color: #666;
  line-height: 1.6;
  padding: 25px 0;
  font-size: 18px;
}

.text-section a {
  display: inline-block;
  padding: 12px 20px;
  border-radius: 30px;
  background-color: #005f5b;
  color: #ffffff;
  text-decoration: none;
}

.industry-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.industry-list li {
  padding: 10px 0;
  font-size: 16px;
  width: 33.33%;
  color: #666;
}

.industry-list li::before {
  content: '•';
  color: #ffa500;
  margin-right: 15px; 
}

.industry-list li:nth-child(1)::before,
.industry-list li:nth-child(4)::before {
  content: none;
}

.right-section {
  width: 40%;
}


.right-section img {
  width: 100%;
}

.foot {
  background-color: #ffffff;
}

.stats-section {
  position: relative;
  bottom: 60px;
  width: 80%;
  margin: auto;
}

.stat-card {
  padding: 20px;
  width: 22%;
  background-color: #fff;
  box-shadow: 0 0 10px 1px #b0b0b0;
}

.stat-card h2 {
  font-family: Bebas_Neue, sans-serif;
  color: #008080;
  font-size: 40px;
}

.stat-card p {
  font-size: 14px;
  color: #666666;
  padding: 14px 0;
}

.underline {
  height: 3px;
  background-color: #f4b300; 
  width: 100%;
}

.stat-card:hover {
  background-color: #005f5b;
  cursor: pointer;
}

.stat-card:hover h2 {
  color: #ffcc00;
}

.stat-card:hover p {
  color: #ffffff;
}

@media only screen and (max-width: 1400px) {
  .container {
    width: 850px;
  }

  .text-section h1 {
    font-size: 40px;
  }

  .text-section p {
    font-size: 14px;
    padding: 10px 0;
   }

  .industry-list li {
    padding: 10px 0;
    font-size: 16px;
    width: 33.33%;
    color: #666;
  }

  .stats-section {
    bottom: 40px;
  }
  .stat-card h2 {
    font-size: 18px;
  }

  .stat-card {
    padding: 8px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 750px;
  }

  .stat-card {
    padding: 8px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    width: 650px;
    padding: 10px 0  0px;
  }

  .nav-left li {
    margin-right: 20px;
    font-size: 14px;
  }

  .nav-right {
    font-size: 14px;
  }

  .text-section h1 {
    font-size: 36px;
    padding-top: 8px;
  }

  .business-consultant .label::before {
    width: 34px; 
    height: 4px; 
    margin-right: 14px;
  }

  .text-section p {
    padding-top: 0;
  }

  .text-section a {
    padding: 8px 10px;
    margin-bottom: 6px;
    font-size: 14px;
  }

  .industry-list li {
    padding: 4px 0;
  }

  .right-section {
    width: 50%;
  }

  .stat-card h2 {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .stat-card p {
    font-size: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    width: 600px;
  }

  .nav-left li {
    margin-right: 10px;
    font-size: 12px;
  }

  .nav-right {
    font-size: 12px;
  }

  .text-section h1 {
    font-size: 34px;
  }

  .text-section p {
    font-size: 14px;    
  }

  .industry-list li {
    font-size: 14px;
  }

  .text-section a {
    padding: 6px 8px;
    font-size: 12px;
  }

  .stats-section {
    bottom: 26px;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    width: 380px;
  }
  
  .navbar {
    justify-content: center;
  }

  #hamburger {
    display: block;
    position: relative;
    right: -30%;
  }

  #myLinks a {
    text-decoration: none;
    color: #000000;
    display: block;
    margin-bottom: 5px;
  }

  #hamburger:hover {
    cursor: pointer;
    background-color: #9894e0;
  }

  .nav-left, .nav-right {
    display: none;
  }

  .text-section h1 {
    font-size: 50px;
  }

  .left-section, .right-section  {
    width: 100%;
  }

  .stat-card {
    width: 100%;
  }

  .stat-card h2 {
    margin: 14px 0;
    font-size: 26px;
  }

  .stat-card p {
    font-size: 18px;
    margin: 18px 0;
  }
}
